{% extends 'base.html.twig' %}

{% block body %}
       
          <div class="row">
                  <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           Formation catégory |
                           <small>list</small>
                                       <a  class="btn btn-xs btn-success pull-right" href="{{ path('formationcateg_new') }}">Create a new question</a>

                        </div>
                        <div class="panel-body">
                           <table id="datatable2" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formationcateg in formationcategs %}
            <tr>
                <td><a href="{{ path('formationcateg_show', { 'id': formationcateg.id }) }}">{{ formationcateg.id }}</a></td>
                <td>{{ formationcateg.nom }}</td>
                <td>
                   
                       
                            <a class="btn btn-warning" href="{{ path('formationcateg_edit', { 'id': formationcateg.id }) }}">edit</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
