{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sousstep</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousstep.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sousstep.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sousstep.description }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{% if sousstep.datecreated %}{{ sousstep.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{% if sousstep.dateupdated %}{{ sousstep.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sousstep_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sousstep_edit', { 'id': sousstep.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
