
  {% extends 'base.html.twig' %}

{% block body %}
 <script src="{{ asset('bundles/fokkusv1/vendor/jquery-validation/dist/jquery.validate.js') }}"></script>

       <script src="{{ asset('bundles/fokkusv1/vendor/jquery.steps/build/jquery.steps.js') }}"></script>
   <!-- Demo-->
   <script src="{{ asset('bundles/fokkusv1/app/js/demo/demo-wizard.js') }}"></script>
<section>
      
            <div class="panel panel-default">
               <div class="panel-heading">Sub steps</div>
               <div class="panel-body">
                  <div id="example-vertical">
                            {% for sousstep in soussteps %}
 
                     <h4>{{ sousstep.name }}</h4>
                     <section>
                        <p>{{ sousstep.description }}</p>
                     </section>
                             {% endfor %}

                  </div>
               </div>
            </div>
         </div>
         
      </section>
      
    {% endblock %}
