{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Network</h1>#}

    {#<table>#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ network.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Type</th>#}
                {#<td>{{ network.type }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Haveuser</th>#}
                {#<td>{% if network.haveUser %}Yes{% else %}No{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Createddate</th>#}
                {#<td>{% if network.createdDate %}{{ network.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Updateddate</th>#}
                {#<td>{% if network.updatedDate %}{{ network.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('network_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('network_edit', { 'id': network.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <div class="pv-lg">
                                {#<img src="{{ asset(network.getWebPath()) }}" alt="Group"#}
                                {#class="center-block img-responsive img-circle img-thumbnail thumb96">#}
                            </div>
                            <h3 class="m0 text-bold">{{ partener.type }}</h3>
                            <div class="mv-lg">
                                <p></p>
                            </div>
                            <div class="text-center"><a href="#" class="btn btn-primary">{{ partener.createdDate|date('Y-m-d H:i:s') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
