{% extends 'base.html.twig' %}
{% block main_breadcrumb %}
    <li class=""><a href="{{ path('statistique_index') }}"> List of statistiques </a></li>
    <li class="last-li-active"> New statistique</li>
{% endblock %}
    {% block body %}
<style>
    /*.form-control2{*/
    /*overflow:scroll; height:250px;max-height:250px*/
    /*}*/

</style>
<div class="row">

    <div class="col-sm-12 col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Add statistique</legend>

            <form action="{{ path('statistique_new') }}" method="post"
                  enctype="multipart/form-data">
                <div class="formSep">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        {{ form_label(form.income) }}
                                        {{ form_widget(form.income,{'attr':{'class':'form-control'}}) }}
                                        <div class="error-field">{{ form_errors(form.income) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        {{ form_label(form.expenses) }}
                                        {{ form_widget(form.expenses,{'attr':{'class':'form-control'}}) }}
                                        <div class="error-field">{{ form_errors(form.expenses) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        {{ form_label(form.month) }}
                                        {{ form_widget(form.month,{'attr':{'class':'form-control'}}) }}
                                        <div class="error-field">{{ form_errors(form.month) }}</div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
                <div class="form-actions form-actions-btn" style="padding: 10px;">
                    <input id="btnSubmit" value="save" type="submit"
                           class="right btn btn-danger form-save-btn">
                    <a href="{{ path('list') }}" class="btn btn-default form-save-btn">
                        return
                    </a>
                </div>
                <div class="clear"></div>
                {{ form_rest(form) }}
            </form>

        </fieldset>
    </div>
</div>
<div>
    {#<!-- Wysiswyg Editor-->#}
    {#<div style="overflow:scroll; height:250px;max-height:250px" class="form-control wysiwyg mt-lg">Type something ...</div>#}
    {#<br>#}
    <script src="{{ asset('bundles/chosen/chosen.jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/chosen/chosen.css') }}"/>
    <script src="{{ asset('bundles/js/bootstrap-wysiwyg/bootstrap-wysiwyg.js') }}"></script>
    <script src="{{ asset('bundles/js/bootstrap-wysiwyg/external/jquery.hotkeys.js') }}"></script>


    <script>
        $("#fks_centralbundle_message_users").chosen({
            width: '100%'
        });

        $('.chosen-select').chosen();
        $('.wysiwyg').wysiwyg();

    </script>
    {% endblock %}
