{% extends 'base.html.twig' %}
{% block body %}
    {#<div class="row">#}
    {#<div class="col-lg-12">#}
    {#<div class="panel panel-default">#}
    {#<div class="panel-heading">#}
    {#Dashboard |#}
    {#<small>Messages Envoyées</small>#}
    {#<a class="btn btn-xs btn-success pull-right" href="{{ path('message_new') }}">Create a new#}
    {#message</a>#}

    {#</div>#}
    {#<div class="panel-body">#}
    {#<table id="datatable2" class="table table-striped table-hover">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Subject</th>#}
    {#<th>Message</th>#}
    {#<th>Receivers</th>#}
    {#<th>Created date</th>#}
    {#<th>Actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for message in messages %}#}
    {#<tr>#}
    {#<td>#}
    {#{{ message.message }} </td>#}
    {#<td>{{ message.subject }}</td>#}
    {#<td>{% for user in  message.users %}#}
    {#{{ user.username }}#}
    {#{% endfor %}</td>#}
    {#<td>{% if message.createdDate %}{{ message.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
    {#<td>#}
    {#<a class="btn btn-info"#}
    {#href="{{ path('message_edit', { 'id': message.id }) }}">Edit</a>#}
    {#<a class="btn btn-success"#}
    {#href="{{ path('message_show', { 'id': message.id }) }}">Show</a>#}
    {#<a class="btn btn-danger"#}
    {#href="{{ path('message_delete', { 'id': message.id }) }}">Delete</a>#}
    {#</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<section>#}
        {#<!-- Page content-->#}
        {#<div class="content-wrapper">#}
            {#<div class="content-heading">#}
                {#<div class="pull-right"><a href="" class="btn btn-sm btn-default text-sm">&lt; back</a>#}
                {#</div>#}
                {#Forum - Discussion#}
                {#<small>Topic ID: 999</small>#}
            {#</div>#}
            {#<div class="panel panel-default">#}
                {#<table class="table table-striped">#}
                    {#<tbody>#}
                    {#{% for message in messages %}#}
                        {#<tr>#}
                            {#<td class="text-center">#}
                                {#{% for user in  message.users %}#}
                                    {#{{ user.username }}#}
                                    {#<a href="">#}
                                    {#<strong>{{ user.username }}, </strong>#}
                                    {#</a>{% endfor %}#}
                            {#</td>#}
                            {#<td class="text-right">on#}
                                {#<em>{{ message.createdDate|date('Y-m-d H:i:s') }}</em>#}
                            {#</td>#}
                        {#</tr>#}
                        {#<tr>#}
                        {#<td class="text-center">#}

                        {#</td>#}
                        {#<td>#}
                            {#<a href="{{ path('message_show', { 'id': message.id }) }}"><h3>{{ message.subject }}</h3></a>#}
                            {#<p>{{ message.message }}</p>#}
                            {#<div class="text-right">#}
                                {#<a class="btn btn-danger" href="{{ path('deleted_message', { 'id': message.id }) }}">Delete</a><em#}
                                        {#style="margin: 15px">Signed by {{ message.sender.username }}</em>#}
                            {#</div>#}
                        {#</td>#}
                        {#</tr>{% endfor %}#}
                    {#</tbody>#}
                {#</table>#}
            {#</div>#}

            {#<div id="topic-reply" class="collapse">#}
                {#<div class="text-center">#}
                    {#<small>Make sure you have read the <a href="">forum rules </a>before posting</small>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-md-8 col-md-offset-2">#}
                        {#<form action="/" method="post" class="form-horizontal">#}
                            {#<div class="form-group">#}
                                {#<div class="col-md-12">#}
{#<textarea id="reply-message" name="reply-message" rows="5"#}
          {#placeholder="Type your answer..." class="form-control"></textarea>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<div class="col-md-12 text-center">#}
                                    {#<button type="button" class="btn btn-sm btn-primary">Post Answer</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</form>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

        <link rel="stylesheet" href="{{ asset('bundles/fokkusv1/app/js/sweetalert/dist/sweetalert.css') }}">
        {#<div class="row">#}
        {#<div class="col-lg-12">#}
        {#<div class="panel panel-default">#}
        {#<div class="panel-heading">#}
        {#Dashboard |#}
        {#<small>Messages Reçues</small>#}
        {#<a class="btn btn-xs btn-success pull-right" href="{{ path('message_new') }}">Ajouter un nouveau#}
        {#message</a>#}
        {#<a class="btn btn-xs btn-info pull-right" href="{{ path('readedMessages') }}">Mes Messages lus#}
        {#</a>#}
        {#<a class="btn btn-xs btn-danger pull-right" href="{{ path('sendedMessages') }}">Mes messages envoyées#}
        {#</a>#}

        {#</div>#}
        {#<div class="panel-body">#}
        {#<table id="datatable2" class="table table-striped table-hover">#}
        {#<thead>#}
        {#<tr>#}
        {#<th>Subject</th>#}
        {#<th>Message</th>#}
        {#<th>Sender</th>#}
        {#<th>Created date</th>#}
        {#<th>Actions</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for message in messages %}#}
        {#{% for user in  message.users %}#}
        {#{% if user.id  == app.user.getId() %}#}
        {#<tr>#}
        {#<td>#}
        {#{{ message.message }} </td>#}
        {#<td>{{ message.subject }}</td>#}
        {#<td>{{ message.sender.username }}</td>#}
        {#<td>{% if message.createdDate %}{{ message.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
        {#<td>#}
        {#<a class="btn btn-info"#}
        {#href="{{ path('message_edit', { 'id': message.id }) }}">Edit</a>#}
        {#<a class="btn btn-success"#}
        {#href="{{ path('message_show', { 'id': message.id }) }}">Show</a>#}
        {#<a class="btn btn-danger"#}
        {#href="{{ path('message_delete', { 'id': message.id }) }}">Delete</a>#}
        {#</td>#}
        {#</tr>{% endif %}#}
        {#{% endfor %}  {% endfor %}#}
        {#</tbody>#}
        {#</table>#}

        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                <h3>MailBox</h3>
                <div class="table-grid table-grid-desktop">
                    <div class="col col-md">
                        <div class="pr">
                            <div class="clearfix mb">
                                <button type="button" data-toggle="collapse" data-target=".mb-boxes"
                                        class="btn btn-sm btn-default mb-toggle-button pull-right dropdown-toggle">
                                    <em class="fa fa-bars fa-fw fa-lg"></em>
                                </button>
                                <a href="{{ path('message_new') }}" class="btn btn-purple btn-sm mb-compose-button">
                                    <em class="fa fa-pencil"></em>
                                    <span>Compose</span>
                                </a>
                            </div>
                            <!-- START mailbox list-->
                            <div class="mb-boxes collapse">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="p">
                                                <small class="text-muted">MAILBOXES</small>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="label label-green pull-right">{{ count }}</span>
                                                    <em class="fa fa-fw fa-lg fa-inbox"></em>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('readedMessages') }}">
                                                    <span class="label label-green pull-right">{{ countReaded }}</span>
                                                    <em class="fa fa-fw fa-lg fa-star"></em>
                                                    <span>Readed</span>
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="{{ path('sendedMessages') }}">
                                                    <span class="label label-green pull-right">{{ countSended }}</span>
                                                    <em class="fa fa-fw fa-lg fa-paper-plane-o"></em>
                                                    <span>Sent</span>
                                                </a>
                                            </li>
                                            {#<li>#}
                                            {#<a href="#">#}
                                            {#<span class="label label-green pull-right">5</span>#}
                                            {#<em class="fa fa-fw fa-lg fa-edit"></em>#}
                                            {#<span>Draft</span>#}
                                            {#</a>#}
                                            {#</li>#}
                                            <li>
                                                <a href="{{ path('myDeletedMessages') }}">
                                                    <span class="label label-green pull-right">{{ countDeleted }}</span>
                                                    <em class="fa fa-fw fa-lg fa-trash"></em>
                                                    <span>Trash</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END mailbox list-->
                        </div>
                    </div>
                    <div class="col">
                        <!-- START action buttons-->
                        <div class="clearfix mb">
                            <div class="btn-group pull-left">
                                <button type="button" class="btn btn-default btn-sm">
                                    <em class="fa fa-mail-reply text-gray-dark"></em>
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                    <em class="fa fa-mail-reply-all text-gray-dark"></em>
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                    <em class="fa fa-mail-forward text-gray-dark"></em>
                                </button>
                            </div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm">
                                    <em class="fa fa-exclamation text-gray-dark"></em>
                                </button>
                                <a href="#" id="demo4" title="delete messages" class="btn btn-default btn-sm" onclick="display()">
                                    <em class="fa fa-times text-gray-dark"></em>
                                </a>
                            </div>
                        </div>
                        <!-- END action buttons-->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <!-- p.lead.text-centerNo mails here-->
                                <table class="table table-hover mb-mails">
                                    <tbody>
                                    <!-- ngRepeat: mail in mails | filter:folder-->
                                    {% for message in messages %}
                                        {% if message.deleted  == false %}
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox c-checkbox">
                                                                <label>
                                                                    <input class="message" type="checkbox"
                                                                           value="{{ message.id }}">
                                                                    <span class="fa fa-check"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <em class="fa fa-lg fa-star-o text-muted"></em>
                                                        </td>
                                                        <td>
                                                            <img alt="Mail Avatar" src="{{ asset('bundles/img/04.jpg') }}"
                                                                 class="mb-mail-avatar pull-left">
                                                            <div class="mb-mail-date pull-right">{{ message.createdDate|date('Y-m-d H:i') }}</div>
                                                            <div class="mb-mail-meta">
                                                                <div class="pull-left">
                                                                    <div class="mb-mail-subject">{{ message.sender.username }}</div>
                                                                    <div class="mb-mail-from">{{ message.subject }}</div>
                                                                </div>
                                                                <div class="mb-mail-preview">{{ message.message }}</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                    <!-- end ngRepeat: mail in mails | filter:folder-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="{{ asset('bundles/fokkusv1/app/js/sweetalert/dist/sweetalert.min.js') }}"></script>
        <script>
            function display() {

                var valeurs = [];
                $('.message:checked').each(function () {
                    // Insertion de la valeur de la checkbox dans le tableau checkbox_val
                    valeurs.push(parseInt($(this).val()));
                });
                var url = '{{ path("deleted_ajax") }}';
                //alert  (content);
                console.log(valeurs)
                if (valeurs != ''){
                    swal({
                                title : "Are you sure?",
                                text : "You will not be able to recover this imaginary file!",
                                type : "warning",
                                showCancelButton : true,
                                confirmButtonColor : "#DD6B55",
                                confirmButtonText : "Yes, delete it!",
                                closeOnConfirm : false
                            },
                            function () {

                                $('.sweet-alert').hide();
//                            display(),
//                                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                $.ajax({
                                    url: '{{ path("deleted_ajax") }}',
                                    type: 'POST',
                                    data: {'valeurs': valeurs},
                                    dataType: 'JSON',
                                    success: function (result) {
                                        var url = result.path;
                                        //alert(result.commet);
                                        window.location.href = url;
                                        //console.log(result.sub)// quand la réponse de la requete arrive

                                    }
                                });
                            });
                    {#$.ajax({#}
                    {#url: '{{ path("deleted_ajax") }}',#}
                    {#type: 'POST',#}
                    {#data: {'valeurs': valeurs},#}
                    {#dataType: 'JSON',#}
                    {#success: function (result) {#}
                    {#var url = result.path;#}
                    {#//alert(result.commet);#}
                    {#window.location.href = url;#}
                    {#//console.log(result.sub)// quand la réponse de la requete arrive#}

                    {#}#}
                    {#});#}
                }
                else{
                    //e.preventDefault();
                    swal("Here's a message!", "No selected message")
                }
            }

            //        $('#demo4').on('click', function(e){
            //            e.preventDefault();
            //            swal({
            //                        title : "Are you sure?",
            //                        text : "You will not be able to recover this imaginary file!",
            //                        type : "warning",
            //                        showCancelButton : true,
            //                        confirmButtonColor : "#DD6B55",
            //                        confirmButtonText : "Yes, delete it!",
            //                        closeOnConfirm : false
            //                    },
            //                    function () {
            //                        display(),
            //                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
            //                    });
            //
            //        });
        </script>

{% endblock %}
