
{% extends 'base.html.twig' %}

{% block body %}
      <script src="{{ asset('bundles/fokkusv1/vendor/jquery-classyloader/js/jquery.classyloader.min.js') }}"></script>
   <!-- JQUERY KNOB-->
   <script src="{{ asset('bundles/fokkusv1/vendor/jquery-knob/js/jquery.knob.js') }}"></script>
   <!-- EASY PIE CHART-->
   <script src="{{ asset('bundles/fokkusv1/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.js') }}"></script>
        <div class="content-wrapper">
            <div class="content-heading">
              
               Dashboard
               <small data-localize="dashboard.WELCOME"></small>
            </div>
            <!-- START widgets box-->
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <!-- START widget-->
                  <div class="panel widget bg-primary">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                           <em class="icon-cloud-upload fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h2 mt0">0</div>
                           <div class="text-uppercase">Consulting</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <!-- START widget-->
                  <div class="panel widget bg-purple">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                           <em class="icon-globe fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h2 mt0">3
                              <small>Points</small>
                           </div>
                           <div class="text-uppercase">Sold</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-12">
                  <!-- START widget-->
                  <div class="panel widget bg-green">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green-dark pv-lg">
                           <em class="icon-bubbles fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h2 mt0">2</div>
                           <div class="text-uppercase">New messages</div>
                        </div>
                     </div>
                  </div>
               </div>
               
                   
                
                  <!-- END date widget    -->
               </div>
            </div>
        <div class="row">
            <div class="col-md-12">
  <div class="row">
                  <div class="col-lg-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           Timeline Commercial
                          
                        </div>
                        <div class="panel-body">

      <table id="datatable2" class="table table-striped table-hover">                     <thead>
                     <th> Current Step</th>
                     <th> Current Sub Step</th>
                     <th> Level of increase</th>
                     </thead>
                      <tbody>
                      <td >{{Commercialtimeline.step.name}}</td>
                     <td> {{Commercialtimeline.sousstep.name}}</td>
                     <td> 
                     <div class="panel-body">
                        <input id="knob-chart1" type="text" value="80">
                     </div>
                     </td>
                     </thead>
                    
                     
                     
                     
                </table>
                     
                     
                        </di>
                        </div>
                      </div>
                               <div class="panel panel-default">
                        <div class="panel-heading">
                           Timeline Communication
                          
                        </div>
                        <div class="panel-body">

      <table id="datatable2" class="table table-striped table-hover">                     <thead>
                     <th> Current Step</th>
                     <th> Current Sub Step</th>
                     <th> Level of increase</th>
                     </thead>
                      <tbody>
                      <td >{{Communicationtimeline.step.name}}</td>
                     <td> {{Communicationtimeline.sousstep.name}}</td>
                     <td> <div class="panel-body ">
                        <input id="knob-chart2" type="text" value="40">
                     </div></td>
                     </thead>
                    
                     
                     
                     
                </table>
                     
                     
                        </div>
                        </div>
                               <div class="panel panel-default">
                        <div class="panel-heading">
                           Timeline Financial
                          
                        </div>
                        <div class="panel-body">

      <table id="datatable2" class="table table-striped table-hover">                     <thead>
                     <th> Current Step</th>
                     <th> Current Sub Step</th>
                     <th> Level of increase</th>
                     </thead>
                      <tbody>
                      <td >{{Financialtimeline.step.name}}</td>
                     <td> {{Financialtimeline.sousstep.name}}</td>
                     <td> <div class="panel-body ">
                        <input id="knob-chart3" type="text" value="50">
                     </div></td>
                     </thead>
                    
                     
                     
                     
                </table>
                     
                     
                        </div>
                        </div>
            </div>
        </div>
                     
                     
                    
                     {% endblock %}
