{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-lg-12">

<div role="alert" class="alert alert-warning">
             <strong>Warning! </strong> You can do this once!</div>

  <div style="display:none" role="alert" class="alert alert-success">
      <strong>Well done!  ,  You will be redirected in 2 seconds</div>
   
 {% set i = 0  %}

        {% for question in questions %}
      <div class="panel panel-default">
                     <div class="panel-heading">{{i + 1}} - {{question.question}}</div>
                     <div class="panel-body">
                        <form role="form">
                                          
                                              {% for row in res[i] %}
          
      
                       
                             <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                              <label>
                                 <input data-type="{{question.typeofquestions}}" type="checkbox" data-score="{{row.points}}" class="reponse" >
                                 <span class="fa fa-check " ></span> {{row.response}}  </label>
                           </div>						  
                        </div> 
                                                               
                       
                                {% endfor %} 
                   
                           
                            

                        </form>
                     </div>
                       </div>
                                {% set i = i+1  %}

              {% endfor %}

      
              <a class="btn btn-success pull-right" OnClick="getScore()" ><span class="icon-like"></span> Confirm</a>

              
              
              
              <script>
                  
                  
                  function getScore(){
                      var Commercialscore = 0 ;
                      var Communicationscore = 0 ;

                      var Financialscore = 0 ;

                      $.map($("input:checkbox:checked"), function(elem, idx) {
                          
                    if($(elem).attr("data-type") ==1 )   Commercialscore += parseInt($(elem).attr("data-score"));   
                   if($(elem).attr("data-type") == 2 )   Communicationscore += parseInt($(elem).attr("data-score"));   
                    if($(elem).attr("data-type") ==3 )   Financialscore += parseInt($(elem).attr("data-score"));   

                });
                
                     $.ajax({

                url: "{{ path('addscores')}}",
                type: 'POST',
                data: {'Commercialscore': Commercialscore  ,'Communicationscore' :Communicationscore , 'Financialscore':Financialscore }, 
                dataType: 'JSON',
                success: function (result) {
                    console.log(result.sub)
                    

                    // $('.totalscore').html(score);
                $('.alert-success').show()

                $('.alert-warning').hide()

                }
            });
                
                
                
                  }
                  
                  </script>
{% endblock %}
