{% extends 'base.html.twig' %}

{% block body %}
    <h1>Step</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ step.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ step.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ step.description }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{% if step.datecreated %}{{ step.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{% if step.dateupdated %}{{ step.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('step_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('step_edit', { 'id': step.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
