{% extends 'base.html.twig' %}

{% block body %}
    <h1>Response</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ response.id }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ response.response }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ response.points }}</td>
            </tr>
            <tr>
                <th>Datacreated</th>
                <td>{% if response.datacreated %}{{ response.datacreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dataupdated</th>
                <td>{% if response.dataupdated %}{{ response.dataupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datastatus</th>
                <td>{{ response.datastatus }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('response_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('response_edit', { 'id': response.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
