
{% extends 'base.html.twig' %}

{% block body %}
 
    
      <div id="panelDemo8" class="panel panel-primary">
          <div class="panel-heading">Events | <span class="label label-info">{{evenement.nom}} </span> |
                           <small>show</small>
                            <a class="btn btn-success btn-xs pull-right" href="{{ path('evenement_index') }}">List evenement</a>

</div>
                     <div class="panel-body">
                        <p>{{ evenement.description }}</p>
                     </div>
                  </div>
    
    
    
  
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
       
{% endblock %}

