


{#{% for network in networks %}#}


        {#<h3 style="padding-right: 5px">{{ network.type }}</h3>#}



        {#{% for sub in network.subNetwork %}#}


            {#<a href="#" onclick="display({{ sub.id }})">{{ sub.lastName }}</a>#}
            {#<br>#}

            {#</tr>{% endfor %} {% endfor %}#}

{#<body>#}
{#<h4 class="name"></h4>#}
{#</body>#}
    {#<script src="{{ asset('bundles/js/jquery.min.js') }}"></script>#}

    {#<script>function display(id) {#}
            {#var id = id;#}
            {#console.log('---', id);#}
            {#// var content = $('#test'+id).val();#}

            {#var url = '{{ path("sub_show", {'id': 'id' }) }}';#}
            {#url = url.replace("id", id);#}


            {#//alert  (content);#}
            {#$.ajax({#}

                {#url: url,#}
                {#type: 'POST',#}
                {#data: {'id': id},#}
                {#dataType: 'JSON',#}
                {#success: function (result) {#}
                   {#console.log(result.sub)// quand la réponse de la requete arrive#}
{#//                    $( ".container" ).append( result.sub );#}
{#//                   $( ".link" ).append( "<a>contacter</a>");#}
                    {#//var $newdiv1 = $( "<div class='object1' style='style=border: dotted'>result.sub</div>" );#}
                    {#var $button = $( "<a class='object2' href='#' '>contacter</a>" );#}
                    {#var $br = $( "<br>" );#}

                    {#$( ".name" ).append( result.sub );#}
                    {#$( "body" ).append( $button );#}



                {#}#}
            {#});#}
        {#}#}

    {#</script>#}


    {% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/fokkusv1/app/js/sweetalert/dist/sweetalert.css') }}">

    <div class="row">

        {% for network in networks %}

            <div class="col-md-4">
                <h4 class="mv-lg pv-lg text-dark"></h4>
                <div id="accordion1" class="panel-group">

                    {% for sub in network.subNetwork %}

                        <div class="panel panel-default b0">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#{{ sub.id }}">
                                        <small>
                                            <em class="fa fa-plus text-primary mr"></em>
                                        </small>
                                        <span>{{ network.type }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ sub.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><a href="#"
                                          onclick="display({{ sub.id }})">{{ sub.lastName }} {{ sub.firstName }}</a></p>
                                    <div class="pull-right">

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                </div>

            </div>
        {% endfor %}
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="pull-right">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-link">
                            <em class="fa fa-ellipsis-v fa-lg"></em>
                        </button>
                        <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInLeft">
                            <li>
                                <a href="">
                                    <em class="fa fa-fw fa-plus mr"></em>
                                    <span>New contact</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <em class="fa fa-fw fa-mail-forward mr"></em>
                                    <span>Import contact</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <em class="fa fa-fw fa-mail-reply mr"></em>
                                    <span>Export contacts</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div  id ="messagebloc" style="display:none" class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#" class="pull-right text-muted">
                                    <em class="fa"></em>
                                </a>
                            </div>
                            <div id="block" >
                            <div class="panel-body text-center" >
                                {#{{ asset(equipment.getWebPath()) }}#}
                                <img src="{{ asset('bundles/img/04.jpg') }}"  alt="Contact"
                                     class="center-block img-responsive img-circle thumb64">
                                <h4 class="">Tara Nelson</h4>
                                <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation
                                    text. Have fun!</p>
                            </div>
                            <div class="panel-footer clearfix">
                                <div class="pull-left"><a href="#" class="btn btn-xs btn-primary"  onclick="send(1)">Send message</a>
                                </div>
                                <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to save changes you made to document before closing?</p>
                        <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                    </div>
                    {{ form_start(form_send) }}
                    {{ form_widget(form_send) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form_send) }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<body>#}
    {#<h4 class="name"></h4>#}
    {#</body>#}
    {#<script src="{{ asset('bundles/js/jquery.min.js') }}"></script>#}
    <script src="{{ asset('bundles/fokkusv1/app/js/sweetalert/dist/sweetalert.min.js') }}"></script>

    <script>function display(id) {
            var id = id;
            console.log('---', id);
            // var content = $('#test'+id).val();

            var url = '{{ path("sub_show", {'id': 'id' }) }}';
            url = url.replace("id", id);


            //alert  (content);
            $.ajax({

                url: url,
                type: 'POST',
                data: {'id': id},
                dataType: 'JSON',
                success: function (result) {
                    
                    
                    img = '{{ asset('uploads/network/curentimg') }}' ;
                    img = img.replace("curentimg", result.pictureName);
                    viewurl = '{{ path('subnetwork_show', { 'id': 'id' }) }}'
                    viewurl = viewurl.replace("id", result.id);

                    
                    html='';
                    html+=' <div class="panel-body text-center">'
                       html+='  <img src="'+img+'"  alt="Contact" class="center-block img-responsive img-circle thumb64">'
                               html+='  <h4 class="">'+result.firstName+' '+result.lastName+'</h4>'
                               html+='  <p>'+result.description+'</p>'
                            html+=' </div>'
                           html+='  <div class="panel-footer clearfix">'
                            html+='     <div class="pull-left"><a href="" class="btn btn-xs btn-primary">Send message</a>'
                             html+='    </div>'
                              html+='   <div class="pull-right"><a href="'+viewurl+'" class="btn btn-xs btn-default">View</a>'
                              html+='   </div>'
                           html+='  </div>'
                                       $('#block').html(html) ;
                    $('#messagebloc').show() ;



                }
            });
        }


        function send(id) {
            var id = id;
            console.log('---', id);
            // var content = $('#test'+id).val();

            var url = '{{ path("send_contact", {'id': 'id' }) }}';
            url = url.replace("id", id);


            //alert  (content);
            $.ajax({

                url: url,
                type: 'POST',
                data: {'id': id},
                dataType: 'JSON',
                success: function (result) {
                    $("#myModal").modal('hide');
                    console.log(result.msg);
                    if (result.msg == 1){
                        swal({
                                    title : "Votre demande de contact est en attente",
                                    text : "Attendez votre partenaire pour qu'il accepte votre demande de contact!",
                                    type : "warning",
                                    showCancelButton : true,
                                    confirmButtonColor : "#DD6B55",
                                    closeOnConfirm : false
                                },
                                function () {

                                    $('.sweet-alert').hide();

                                });
                        {#$.ajax({#}
                        {#url: '{{ path("deleted_ajax") }}',#}
                        {#type: 'POST',#}
                        {#data: {'valeurs': valeurs},#}
                        {#dataType: 'JSON',#}
                        {#success: function (result) {#}
                        {#var url = result.path;#}
                        {#//alert(result.commet);#}
                        {#window.location.href = url;#}
                        {#//console.log(result.sub)// quand la réponse de la requete arrive#}

                        {#}#}
                        {#});#}
                    }
                    else{
                        //$('.sweet-alert').hide();
                        $("#myModal").modal('show');
                    }

                }
            });
        }
    </script>

{% endblock %}
